
<section id="sports" class="pc-section">
    <div class="container">
            <div class="row">
                    <div class="col-md-12">
                        <h1 class="section--title"> Sports </h1>
                    </div>
                </div>
      <div class="row">
            <div class="col-md-4">
                    <div class="premier-sports">
                        <img src="assets/canoeing.jpg">
                        <h4>Canoeing</h4>
                    </div>
                  </div>
            <div class="col-md-4">
                <div class="premier-sports">
                    <img src="assets/rowing.jpg">
                    <h4>Rowing</h4>
                </div>
            </div>
          <div class="col-md-4">
              <div class="premier-sports">
                  <img src="assets/sup.jpg">
                  <h4>Standup Padling</h4>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="premier-sports">
                  <img src="assets/beach-volley.jpg">
                  <h4>Beach Volleyball</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="premier-sports">
                  <img src="assets/swimming.jpg">
                  <h4>Swimming</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="premier-sports">
                  <img src="assets/golf.jpg">
                  <h4>Golf</h4>
              </div>
          </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <div class="premier-sports">
                        <img src="assets/tennis.jpg">
                        <h4>Tennis</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="premier-sports">
                        <img src="assets/soccer.jpg">
                        <h4>Soccer</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="premier-sports">
                        <img src="assets/rugby.jpg">
                        <h4>Rugby</h4>
                    </div>
                </div>
              </div>
              <div class="row">
                    <div class="col-md-4">
                        <div class="premier-sports">
                            <img src="assets/hokey.jpg">
                            <h4>Hokey</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="premier-sports">
                            <img src="assets/fencing.jpg">
                            <h4>Fencing</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="premier-sports">
                            <img src="assets/cycling.jpg">
                            <h4>Cycling</h4>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                        <div class="col-md-4">
                            <div class="premier-sports">
                                <img src="assets/wrestling.jpg">
                                <h4>Wrestling</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="premier-sports">
                                <img src="assets/biathlon.jpg">
                                <h4>Biathlon</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="premier-sports">
                                <img src="assets/kayak.jpg">
                                <h4>Canoeing</h4>
                            </div>
                        </div>
                      </div>
    </div>
  </section>
  
