<section id="sports" class="sports-section">
    <div class="container">
      <div class="row">
            <div class="col-md-4">
                    <div class="premier-sports">
                        <img src="assets/swimming.jpg">
                        <h4>Swimming</h4>
                    </div>
                  </div>
            <div class="col-md-4">
                <div class="premier-sports">
                    <img src="assets/soccer.jpg">
                    <h4>Soccer</h4>
                </div>
            </div>
          <div class="col-md-4">
              <div class="premier-sports">
                  <img src="assets/karate.jpg">
                  <h4>Karate</h4>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="premier-sports">
                  <img src="assets/canoe.jpg">
                  <h4>Canoeing</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="premier-sports">
                  <img src="assets/handball.jpg">
                  <h4>Handball</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="premier-sports">
                  <img src="assets/soccer.jpg">
                  <h4>Soccer</h4>
              </div>
          </div>
        </div>
    </div>
  </section>
  
