<footer id="contacts" class="footer-section">
  <div class="container">
    <div class="row bottom-devider">
      <div class="col-md-3 ">
          <div class="centered">              
              <div class="contacts-media--picture">              
                <span class="glyphicon glyphicon-user contacts-media--icon contacts-media--icon--large"></span> <br/>
              </div>
              <h3 class="contacts-media--heading">Andy Palmer</h3><span class="contacts-media--text">Director</span>
          </div>
      </div>      
      <div class="col-md-3">
        <div class="contacts-media ">
            <span class="glyphicon glyphicon-phone-alt contacts-media--icon"></span> <br/> <span class="contacts-media--text">+44(0) 7825 214 248</span>
        </div>
      </div>
        
      <div class="col-md-3">
          <div class="contacts-media ">
            <span class="glyphicon glyphicon glyphicon-envelope contacts-media--icon"></span> <br/> <span class="contacts-media--text">andy@premier-camps.com</span></div>
          </div>
      <div class="col-md-3">
        <div class="contacts-media">
            <span class="glyphicon glyphicon glyphicon-home contacts-media--icon"></span> <br/> <span class="contacts-media--text">Reading, Shurlock Row, Little Orchard, RG100PL</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ">
          <div class="centered">              
              <div class="contacts-media--picture">              
                <!-- <span class="glyphicon glyphicon-user contacts-media--icon contacts-media--icon--large"></span> <br/> -->
                <img src="assets/adnan.jpg" alt="">
              </div>
              <h3 class="contacts-media--heading">Adnan Aliev</h3><span class="contacts-media--text">Business Development Manager</span>
          </div>
        </div>      
        <div class="col-md-3">
          <div class="contacts-media ">
              <span class="glyphicon glyphicon-phone-alt contacts-media--icon"></span> <br/> <span class="contacts-media--text">+359(0) 886 65 55 63</span></div>
        </div>
          
        <div class="col-md-3">
            <div class="contacts-media ">
              <span class="glyphicon glyphicon glyphicon-envelope contacts-media--icon"></span> <br/> <span class="contacts-media--text">adnan@premier-camps.com</span>
            </div>
        </div>
        <div class="col-md-3">
          <div class="contacts-media">
              <span class="glyphicon glyphicon glyphicon-home contacts-media--icon"></span> <br/> <span class="contacts-media--text">Reading, Shurlock Row, Little Orchard, RG100P</span>
            </div>
        </div>
      </div>

  </div>
</footer>
