<!-- Contact Us -->
<section class="contact-us" id="CONTACT">
        
  <div class="container wow bounceIn">
  
          <div class="row">

              <div class="col-md-10 col-md-offset-1">
              
                  <div class="section-title">
                  
                      <h2>Contact Us</h2>
                  </div>
                  
              </div>


          </div>
  
  
  </div>
  
  <div class="contact-us-form wow bounceIn">
  
  
      <div class="container">
      
          <form role="form">
          
              <div class="row">
              
                  <div class="col-md-4">
                  
                      <input type="text" class="form-control" id="name" placeholder="Name">
                      <input type="email" class="form-control" id="email" placeholder="Email">
                      <input type="text" class="form-control" id="subject" placeholder="Subject">
                  
                  </div>
                  
                  <div class="col-md-8">
                  
                      <textarea class="form-control" id="message" rows="25" cols="10" placeholder="Message Text...."></textarea>
                      
                      <button type="button" class="btn btn-default submit-btn form_submit">SEND</button>
                  
                  </div>
              
              </div>

              <!-- <div class="">
                  

                <h4>Ask us about our Camps in:</h4>
                <p>
                Тurkey, Bulgaria (Sofia, Plovdiv, Varna),
                Cyprus, Italy, Portugal,<br/>
                Spain, Italy, Belarus, 
                Ukrane, Rumania, Check Republic <br/>
              We will be happy to also answer any related questions through our contact form or if you contact us directly.
            </p>
            </div> -->
          
          
          </form>
      
      
      </div>
  
  
  </div>
  
  <div class="container">
      <div class="row">
      
          <div class="col-md-12 wow bounceInLeft">
          
              <div class="social-icons">
              
                  <ul>
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  
                  </ul>
              
              
              </div>
          
          
          </div>
      
      </div>
  
  </div>
  
  
  

</section>
