<section class="services-section">
  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="..." alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Media heading</h4>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>
        </div>
        <div class="col-md-4">
          <div class="premier-service">
              <img src="assets/swimming.jpg">
              <h4>Swimming</h4>
          </div>
        </div>
        <div class="col-md-4">
            <div class="premier-service">
                <img src="assets/karate.jpg">
                <h4>Karate</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="premier-service">
                <img src="assets/canoe.jpg">
                <h4>Canoeing</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="premier-service">
                <img src="assets/handball.jpg">
                <h4>Handball</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="premier-service">
                <img src="assets/soccer.jpg">
                <h4>Soccer</h4>
            </div>
        </div>
      </div>
  </div>
</section>
