<section id="services" class="services-section">

  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="services-section--title"> Services </h1>
        </div>
    </div>
    <div class="row">
            <div class="col-md-offset-1 col-md-5 ">
            <div class="media services-media">
                <div class="media-left">
                    <span class="glyphicon glyphicon glyphicon-star-empty service-media--icon" aria-hidden="true"></span>
                </div>
                <div class="media-body">
                    <h2 class="media-heading services-media--title">Professional Training Camps</h2>
                    Cras sit amet nibh libero, in gravida nulldimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <ul>
                        <li class="service_li">etus scelerisque ante sollic</li>
                        <li class="service_li">etus scelerisque ante sollic</li>
                        <li class="service_li">etus scelerisque ante sollic</li> 
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
                <div class="media services-media">
                    <div class="media-left">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book service-media--icon" aria-hidden="true"></span>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading services-media--title">Consultancy</h2>
                        Consultancy services for Professional Training Camps....
                        <ul>
                            <li class="service_li">etus scelerisque ante sollic</li>
                            <li class="service_li">etus scelerisque ante sollic</li>
                            <li class="service_li">etus scelerisque ante sollic</li> 
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <div class="media services-media">
                    <div class="media-left">
                        <span class="glyphicon glyphicon glyphicon glyphicon-globe service-media--icon" aria-hidden="true"></span>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading services-media--title">International Event Equipment Rental</h2>
                        Cras sit amet nibh libcitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <ul>
                            <li class="service_li">etus scelerisque ante sollic</li>
                            <li class="service_li">etus scelerisque ante sollic</li>
                            <li class="service_li">etus scelerisque ante sollic</li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                    <div class="media services-media">
                        <div class="media-left">
                            <span class="glyphicon glyphicon glyphicon glyphicon glyphicon-bookmark service-media--icon" aria-hidden="true"></span>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading services-media--title">Sports Products Sales</h2>
                            Consultancy services for Professional Training Camps....
                            <ul>
                                <li class="service_li">etus scelerisque ante sollic</li>
                                <li class="service_li">etus scelerisque ante sollic</li>
                                <li class="service_li">etus scelerisque ante sollic</li> 
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
  </div>
</section>
