<section id="services" class="pc-section">

  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="section--title"> Services </h1>
        </div>
    </div>
    <div class="row">
            <div class="col-md-6 ">
            <div class="media services-media wow slideInLeft">
                <div class="media-body">
                    <h2 class="media-heading services-media--title"> <span class="glyphicon glyphicon glyphicon-star-empty service-media--icon" aria-hidden="true"></span> Professional Training Camps</h2>
                    <p>
                            Our training camps are designed with emphasis on the athlete’s training environment and facilities at the very heart, ensuring that they can make the very best use of their time training and so work towards achieving their maximum potential.

                    </p>
             <p>
                    All of our camps are organised at high quality sports Centres with relevant facilities and excellent accommodation.</p>
                    <ul>
                    

                        <li class="service_li">Accommodation</li> 
                        <li class="service_li">Airport Transfers</li>
                        <li class="service_li">Daily training transfers</li>
                        <li class="service_li">Sports Facility booking and preparation</li>
                        <li class="service_li">Leisure activities</li>
                        <li class="service_li">Tournament and friendly match organisation</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <div class="media services-media wow slideInRight">
                    <div class="media-body">
                        <h2 class="media-heading services-media--title"> <span class="glyphicon glyphicon glyphicon glyphicon-book service-media--icon" aria-hidden="true"></span> Consultancy</h2>
                        <ul>
                            <li class="service_li" *ngFor="let service of consultancy">{{service}}</li>
 
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-6">
                <div class="media services-media wow slideInLeft">
                    <div class="media-body">
                        <h2 class="media-heading services-media--title">
                            <span class="glyphicon glyphicon glyphicon glyphicon-globe service-media--icon" aria-hidden="true"></span>
                            International Event Equipment Rental
                        </h2>
                        Need to rent boats, bicycles or other equipment at far off locations for important Canoeing events. We can supply a variety of boats at competitive rental prices.<ul>
                            <!-- <li class="service_li">etus scelerisque ante sollic</li>
                            <li class="service_li">etus scelerisque ante sollic</li>
                            <li class="service_li">etus scelerisque ante sollic</li>  -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="media services-media wow slideInRight">
                        <div class="media-body">
                            <h2 class="media-heading services-media--title">
                                <span class="glyphicon glyphicon glyphicon glyphicon glyphicon-bookmark service-media--icon" aria-hidden="true"></span>
                                Sports Products Sales
                            </h2>
                            We are the UK Dealer for Plastex Boats <a href="http://www.plastexboats.com/" target="_blank">http://www.plastexboats.com/</a>  
New boats delivered to your door at very competitive prices with great local after service.

<br/>
We also have a selection of used Kayaks and Canoes many in ‘as new’ condition.<br/>
Call us with you requirements and we’ll do our best to match them
<ul>
                                <!-- <li class="service_li">etus scelerisque ante sollic</li>
                                <li class="service_li">etus scelerisque ante sollic</li>
                                <li class="service_li">etus scelerisque ante sollic</li>  -->
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
  </div>
</section>
