<section id="facilities" class="facilities-section">
  <div class="facilities-section-caption container">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="assets/premier-camps-logo-sign.png" class="fs-logo-sign" alt="Premier Camps Logo Sign">
      </div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <h2 class="">Accomodation</h2> 
      </div>
    </div> 
    
  </div>

  <div id="carousel-example-generic" class="carousel slide facilities-section-carousel" data-ride="carousel">
      <!-- Indicators 
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      -->
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner " role="listbox">
        <div class="item fs-item-1 active">
          <img src="assets/accommodation/portugal.JPG" class="img-fluid" alt="Responsive image">
            <div class="carousel-caption">
              Portugal
            </div>
        </div>
        <div class="item fs-item-2">
          <img src="assets/accommodation/spain.JPG" class="img-fluid" alt="Responsive image">
          <div class="carousel-caption">
              Spain
            </div>
        </div>
        <div class="item fs-item-3">
          <img src="assets/accommodation/accommodation1.jpg" class="img-fluid" alt="Responsive image">
            <div class="carousel-caption">
              Turkey
            </div>
        </div>
        <div class="item fs-item-4">
          <img src="assets/accommodation/plovdiv.JPG" class="img-fluid" alt="Responsive image">
          <div class="carousel-caption">
              Plovdiv, Bulgaria
            </div>
        </div>
        <div class="item fs-item-5">
          <img src="assets/accommodation/pancharevo.jpg" class="img-fluid" alt="Responsive image">
            <div class="carousel-caption">
              Sofia region, Bulgaria
            </div>
        </div>
        <div class="item fs-item-6">
          <img src="assets/accommodation/accommodation2.jpg" class="img-fluid" alt="Responsive image">
          <div class="carousel-caption">
              Turkey
            </div>
        </div>
        <div class="item fs-item-7">
            <img src="assets/accommodation/accommodation3.jpg" class="img-fluid" alt="Responsive image">
            <div class="carousel-caption">
                Turkey
              </div>
          </div>
      </div>
    
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


</section>