<header id="home" class="">
  <div class="jumbotron header-section">
    <div class="container">
      
      
      <div class="header-section-logo"><img src="../../../assets/Premier-Camps-Logo-Header.png"></div>
      <h2>
          All Inclusive
          Professional <br/>
          Training Camps
      </h2>
     
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
    </div>
  </div>
  <!-- <h2 class="header-section-slogen">
      all inclusive
      professional <br/>
      training camps</h2> -->
</header>

