.header-section{
    background-image: url("/assets/header-section-background.jpg");
    color: white;
    height: 600px;
    background-size: cover;
}
.header-section-logo{
    margin-top: 45%;
    height: 150px;
    text-align: center;
}

.header-section-slogen{
    color: white;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200;
    font-size: 38px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .header-section-logo{
        margin-top: 35%;
    }

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .header-section-logo{
        margin-top: 15%;
    }

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .header-section-logo{
        margin-top: 10%;
    }

 }