<header id="home" class="">
  <div class="jumbotron header-section">
    <div class="container">
      
      
      <div class="header-section-logo"><img src="../../../assets/Premier-Camps-Logo-Header.png"></div>
      <h2 class="header-section-slogen">
          All Inclusive
          Professional Sports <br/>
          Training Camps
      </h2>
     
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
    </div>
  </div>

</header>
<section class="intro-message"> 
<p>
  Premier Sports Training Camps is a company that specialises in the planning and organisation of sports training camps and associated events around the world for athletes of all levels from talented youngsters to top elite and professional athletes
</p>
<p>Our training camps are designed with emphasis on the athlete’s training environment and facilities at the very heart, ensuring that they can make the very best use of their time training and so work towards achieving their maximum potential.
</p> 
<p>All of our camps are organised at high quality sports Centres with relevant facilities and excellent accommodation.
   
</p> 
<p *ngIf="showText" [innerHTML]="introText">
 </p>
 <a href="JavaScript:Void(0)" (click)="showText = !showText" *ngIf="showText == false"> read more... </a>
 <a href="JavaScript:Void(0)" (click)="showText = !showText" *ngIf="showText == true"> read less </a>

</section>

